/* #ECE4B7 */
body {
    background-color: #ECE4B7;
    padding: 0px;
    margin: 0px;
}

canvas {
    position: absolute;
    margin-top: 5px;
}


.controls {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
  
.btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #264653;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 7px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    align-items: center;
    margin: 20px;
    position: relative;
}

.btn:hover{
    transition : 1000ms;
    padding: 10px 30px;
    background-color: #ece4b7;
    color: #000000;
    border: solid 1px #264653;
}